*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**header**/
header{
    display: flex;
    width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
    background-color: black;
    padding: 1.5rem 1.5rem;
    position: sticky;
    top: 0;
    z-index:40;
}
header div img{ 
    width: 5rem;
}
.navbar{
    display: flex;
	flex-direction: row;
    list-style: none;
    gap: 1.5rem;
  
}
.navbar li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


/* regla para usar una font descargada a la pc */
@font-face {
	font-family: 'AnotherDay';
	src: url('../assets/font/AnotherDay.ttf');
}

@font-face {
	font-family: 'Amstagram';
	src: url('../assets/font/Amstagram.ttf');
}





