<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

	<header>
		<div>
			<a href="#"><img src="../assets/img/logo.png" alt=""></a>
		</div>
	
		<nav>
			<ul class="navbar">
				<li><a href="./quienes-somos.html">Quienes Somos</a></li>
				<li><a href="./servicios.html">Servicios</a></li>
				<li><a href="#">Estadísticas</a></li>
				<li><a href="./plataforma.html">Plataforma</a></li>	
			</ul>
		</nav>
	</header>
	

    <article>

        <h1>Benchmarking</h1>

        <form action="#" align="center">
            <fieldset>
                <legend>Seleccione Servicio</legend>
                <select name="servicio" id="servicio">
                    <option value="mesa">Mesa de Ayuda</option>
                    <option value="soporte">Soporte en terreno</option>
                    <option value="internet">Internet</option>
                </select>
            </fieldset>
            <input type="submit" value="Actualizar Benchmark">
        </form>
        <img src="../assets/img/benchmarking.png" alt="logo sitio">
    </article>

	<footer class="piepagina">
		<img src="../assets/img/logo.png" alt="logo sitio">
		<nav>
			<ul class="menupie">
				<li><a href="./views/terminosycondiciones.html">Términos y Condiciones</a></li>
				<li><a href="./views/politica.html">Política de Privacidad</a></li>
				<li><a href="./views/empresahtml">Empresa</a></li>
			</ul>
		</nav>
	</footer>

</body>
</html>