<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

	<header>
		<div>
			<a href="../index.html"><img src="../assets/img/logo.png" alt=""></a>
		</div>

		<nav>
			<ul class="navbar">
				<li><a href="./quienes-somos.html">Quiénes Somos</a></li>
					<li><a href="./servicios.html">Servicios</a></li>
					<li><a href="#">Estadísticas</a></li>
					<li><a href="./plataforma.html">Plataforma</a></li>
			</ul>
		</nav>
	</header>
	

	<main>
		<h2>Estadísticas</h2>
		<h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui repellendus eius eos rerum doloribus, in voluptate quibusdam? Mollitia sequi officia reiciendis earum. Eaque minus odio quisquam in, veniam sit ut.</h3>
		<br>
		<br>
		<br>
		<br>
		<div class="main_estadisticas">
		<section class="section-9"> 
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/general-425.jpeg">
				<img src="../assets/img/general.jpeg">	
			</picture>
		</section>	
		<section class="section-11"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		<section class="section-10">
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/wifi-425.jpeg">
				<img src="../assets/img/wifi.jpeg">
		</picture>
		</section>
		<section class="section-12"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis.</h4>
		</section>
		<section class="section-13">
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/internet-425.jpeg">
				<img src="../assets/img/internet.jpeg">
			</picture>
		</section>
		<section class="section-14"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		<section class="section-15">
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/mesadeayuda-425.jpeg">
				<img src="../assets/img/mesadeayuda.jpeg">
			</picture>
		</section>
		<section class="section-16"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		<section class="section-17">
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/correo-425.jpeg">
				<img src="../assets/img/correo.jpeg">
			</picture>
		</section>
		<section class="section-18"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		<section class="section-19">
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/apoyo-425.jpeg">
				<img src="../assets/img/apoyo.jpeg">
			</picture>
		</section>
		<section class="section-20"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		<section class="section-21">
			<img src="../assets/img/equipo.jpeg">
		</section>
		<section class="section-22"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		<section class="section-23">
			<img src="../assets/img/impresoras.jpeg">
		</section>
		<section class="section-24"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		<section class="section-25">
			<img src="../assets/img/software.jpeg">
		</section>
		<section class="section-26"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		<section class="section-27">
			<img src="../assets/img/mantencion.jpeg">
		</section>
		<section class="section-28"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		<section class="section-29">
			<img src="../assets/img/telefonia.jpeg">
		</section>
		<section class="section-30"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		</div>
		<!--
		<section class="section-3">
			<h2>Clientes</h2>
		</section>
		<section class="section-4">
			<img src="./assets/img/logoempresa1.svg">
		</section>
		<section class="section-5">
			<img src="./assets/img/logoempresa2.svg">
		</section>
		<section class="section-6">
			<img src="./assets/img/logoempresa3.svg">
		</section>
		<section class="section-7">
			<img src="./assets/img/logoempresa4.svg">
		</section>
		<section class="section-8">
			<img src="./assets/img/logoempresa5.svg">
		</section>

		<form action="#" align="center">
            <fieldset>
                <legend>Seleccione Servicio</legend>
                <select name="servicio" id="servicio">
                    <option value="mesa">Mesa de Ayuda</option>
                    <option value="soporte">Soporte en terreno</option>
                    <option value="internet">Internet</option>
                </select>
            </fieldset>
            <input type="submit" value="Actualizar Benchmark">
        </form>
        <img src="../assets/img/benchmarking.png" alt="logo sitio">
	-->
	</main>
	
	<footer>
		<nav>
			<ul class="menupie">
				<li><a href="./views/terminosycondiciones.html">Términos y Condiciones</a></li>
				<li><a href="./views/politica.html">Política de Privacidad</a></li>
				<li><a href="./views/empresa.html">Empresa</a></li>
				<li><a href="./views/contactanos.html">Contactáctanos</a></li>
			</ul>
		</nav>
	</footer>

</body>
</html>