<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

	<header>
		<div>
			<a href="#"><img src="../assets/img/logo.png" alt=""></a>
		</div>
	
		<nav>
			<ul class="navbar">
				<li><a href="#">Quienes Somos</a></li>
				<li><a href="./servicios.html">Servicios</a></li>
				<li><a href="./estadisticas.html">Estadísticas</a></li>
				<li><a href="./plataforma.html">Plataforma</a></li>	
			</ul>
		</nav>
	</header>


	<article>
		<table>
			<tr>
				<td><img src="../assets/img/misionyvalores.png" alt="benchmarkingsatisfaccion" width=100%></td>
			</tr>
			<tr>
				<td><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi quibusdam aspernatur rem. Eos labore facere corporis dolor commodi ducimus consequuntur necessitatibus omnis, voluptatum, amet similique cum dolores? Voluptatum, iure .</h1></td>
			</tr>
		</table>
	</article>


	<footer class="piepagina">
		<img src="../assets/img/logo.png" alt="logo sitio">
		<nav>
			<ul class="menupie">
				<li><a href="./views/terminosycondiciones.html">Términos y Condiciones</a></li>
				<li><a href="./views/politica.html">Política de Privacidad</a></li>
				<li><a href="./views/empresahtml">Empresa</a></li>
			</ul>
		</nav>
	</footer>

</body>
</html>