<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>

<body>

	<header>
		<div>
			<a href="../index.html"><img src="../assets/img/logo.png" alt=""></a>
		</div>

		<nav>
			<ul class="navbar">
				<li><a href="#">Quiénes Somos</a></li>
					<li><a href="./servicios.html">Servicios</a></li>
					<li><a href="./estadisticas.html">Estadísticas</a></li>
					<li><a href="./plataforma.html">Plataforma</a></li>
			</ul>
		</nav>
	</header>

	<section>
		<h1>Suscripciones</h1>
		<table class="table-servicios">
			<tbody><tr>
			  <td>Básica</td>
			  <td>Avanzada</td>
			  <td>Completa</td>
			</tr>
			<tr>
				<td>Lorem ipsum dolor sit amet consectetur. Id habitant faucibus cras tristique at proin adipiscing commodo. Ut vel nisl faucibus sit nisl tincidunt auctor magna. Ut mauris aenean fermentum egestas ligula fringilla.</td>
				<td>Lorem ipsum dolor sit amet consectetur. Id habitant faucibus cras tristique at proin adipiscing commodo. Ut vel nisl faucibus sit nisl tincidunt auctor magna. Ut mauris aenean fermentum egestas ligula fringilla.</td>
				<td>Lorem ipsum dolor sit amet consectetur. Id habitant faucibus cras tristique at proin adipiscing commodo. Ut vel nisl faucibus sit nisl tincidunt auctor magna. Ut mauris aenean fermentum egestas ligula fringilla.</td>
			  </tr>
			<tr>
				<td>$1200 US anuales</td>
				<td>$4000 US anuales</td>
				<td>$9000 US anuales</td>
			</tr>
			<tr>
				<td><input type="button" value="Comprar"/></td>
				<td><input type="button" value="Comprar"/></td>
				<td><input type="button" value="Comprar"/></td>
			</tr>


			</tbody>
		</table>
	</section>

	<footer class="piepagina">
		<img src="../assets/img/logo.png" alt="logo sitio">
		<nav>
			<ul class="menupie">
				<li><a href="./views/terminosycondiciones.html">Términos y Condiciones</a></li>
				<li><a href="./views/politica.html">Política de Privacidad</a></li>
				<li><a href="./views/empresahtml">Empresa</a></li>
			</ul>
		</nav>
	</footer>

</body>
</html>